<section class="container my-3">
    <div class="row m-auto gy-3">
        <div class="col-md-6">
            <div class="w-75 about">
                <img src="./assets/images/about/e photo.svg" class="w-75" alt="photo">
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h6 class="name">Eman Magdy</h6>
                <h6 class="address">Front-End Developer</h6>
                <p class="about-me">
                    Front-End Developer with 4+ years of experience building responsive, user-friendly, and
                    production-ready web applications. Specialized in Angular and TypeScript, with hands-on experience
                    in React, API integration, and transforming UI/UX designs into clean, interactive web experiences.
                </p>

                <div class="d-flex flex-wrap">
                    <div class="mt-2 d-flex">
                        <img src="./assets/images/about/exp.svg" class="me-2" alt="experience">
                        <p class="pt-1">+4 Years of experience</p>
                    </div>

                    <div class="mt-2 d-flex">
                        <img src="./assets/images/about/pro.svg" class="me-2" alt="projects">
                        <p class="pt-1"> 20+ Projects Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>